<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

	<Properties>
		<Property name="nomeArquivo">target/agenda.log</Property>
	</Properties>

	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="DAILY"
					 append="true"
					 fileName="${nomeArquivo}"
					 filePattern="${nomeArquivo}.%d{yyyyMMdd}.gz">

			<PatternLayout
					pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />

			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>

		</RollingFile>

	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="DAILY" />
		</Root>
	</Loggers>
</Configuration>