<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

	<Properties>
		<Property name="nomeArquivo">target/agenda.log</Property>
	</Properties>

	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable" />
		</Console>

		<RollingFile name="DAILY" append="true"
			fileName="${nomeArquivo}"
			filePattern="${nomeArquivo}.%d{yyyyMMdd}.gz">

			<PatternLayout
				pattern="%d [%t] %-5level %logger{36} - %msg%n%throwable" />

			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>

		</RollingFile>

	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="CONSOLE" />
		</Root>
	</Loggers>
</Configuration>